<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Our Business</title>
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">


      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main">Our Business</span>
          <span class="heading-primary-sub">Welcome to FitnessForever</span>
        </h1>
      </div>
    </div>
    <div class="quality-section">
      <p>At the heart of
        <strong>FitnessForever</strong>
        is a commitment to enhancing well-being—physically, mentally, and socially—through our products and experiences.</p>
    </div>

    <div class="content-section">
      <div class="section">
        <h2>Innovating for Success</h2>
        <p>We are relentlessly innovating to enrich the lives of our customers and our global community, focusing on sustainability and excellence at every step.</p>
      </div>

      <div class="section">
        <h2>Our Products</h2>
        <p>Our product lineup is crafted based on the Science of Feel, ensuring each item maximizes comfort and performance.</p>
        <a href="/learn-more-products" class="learn-more">Learn more</a>
      </div>

      <div class="section">
        <h2>Our Operations</h2>
        <p>We collaborate closely with our suppliers to maintain high standards of quality and sustainability, safeguarding our community and the environment.</p>
        <a href="/learn-more-operations" class="learn-more">Learn more</a>
      </div>

      <div class="section">
        <h2>Our Global Footprint</h2>
        <p>With over 50 stores worldwide and a dedicated team of 4,000 employees, we are expanding our reach to bring our unique products to global consumers.</p>
        <a href="/learn-more-global" class="learn-more">Learn more</a>
      </div>
    </div>

    <script src="{{ 'main.js' | asset_url }}" defer></script>
  </body>
</html>