<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Our Products</title>
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">


      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main">Quality Promise</span>
          <span class="heading-primary-sub">Welcome to our commitment to quality.</span>
        </h1>
      </div>
    </div>
    <div class="quality-section">
      <p>At
        <strong>FitnessForever</strong>, quality is more than just a word. It's the foundation of our store, ensuring you receive top-notch footwear. If your shoes don’t perform as expected, we're here to make it right.</p>
    </div>

    <div class="accordion">
      <details>
        <summary>Our Quality Promise</summary>
        <p>
          We will replace any item that doesn't perform as intended within one year of purchase. All claims are assessed on a case-by-case basis to ensure fairness and customer satisfaction.
 
 
 
 
 
            Proof of purchase or identification may be required.
        </p>
        <p>Please fill out
          <a href="#">this form</a>
          or visit your local store to address any concerns.</p>
      </details>

      <details>
        <summary>FAQs</summary>
        <p>Have questions? Check out our
          <a href="#">FAQs</a>
          for more information or contact us directly—we’re ready to assist.</p>
      </details>
      <details>
        <summary>Contact Us</summary>
        <p>If you need immediate assistance, feel free to
          <a href="/pages/contact">contact us</a>.</p>

      </details>

    </div>

    <div class="contact-info">
      <div class="contact-section">
        <img
          src="{{ 'chat.jpg' | asset_url }}"
          alt="Chat with us"
          width="550px"
          height="350px">
        <h2>Chat with us</h2>
        <p>Connect with our Virtual Assistant for fast support or direct your queries to our staff during operational hours.</p>
        <p>
          <strong>Hours:</strong>
          5am – 9pm PT weekdays | 6am – 6pm PT weekends</p>
        <p>
          <strong>Let's Chat</strong>
        </p>
      </div>
      <div class="contact-section">
        <img
          src="{{ 'help.jpg' | asset_url }}"
          alt="Shop with a Product Expert"
          width="550px"
          height="350px"
          object-fit="cover">
        <h2>Shop with a Product Expert</h2>
        <p>Our Product Experts are ready to help you with any inquiries regarding our products, from placing orders to product recommendations.</p>
        <p>
          <strong>Hours:</strong>
          6am – 6pm PT weekdays | 6am – 4pm PT weekends</p>
        <p>
          <strong>Connect With Us</strong>
        </p>
      </div>
    </div>

    <script src="{{ 'main.js' | asset_url }}" defer></script>
  </body>
</html>